<div class="page-header">
  <%= link_to new_price_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Price
  <% end %>
  <h1>Listing prices</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Regular price</th>
            <th>Sale price</th>
            <th>Employee discount</th>
            <th>Emp dis on sale price</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @prices) do |price| %>
            <td><%= price.regular_price %></td>
            <td><%= price.sale_price %></td>
            <td><%= price.employee_discount %></td>
            <td><%= price.emp_dis_on_sale_price %></td>
            <td><%= link_to 'Show', price %></td>
        <td><%= link_to 'Edit', edit_price_path(price) %></td>
        <td><%= link_to 'Destroy', price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
