<div class="page-header">
  <!--<%#= link_to prices_path, :class => 'btn btn-default' do %>-->
    <!--<span class="glyphicon glyphicon-list-alt"></span>-->
    <!--Back-->
  <!--<%# end %>-->
  <h2>Sale or Regular Price?</h2>
</div>
<%= form_tag(best_price_path) do %>
  <% if @price.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h4>

      <ul>
        <% @price.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-10">
      <%= label_tag :regular_price, 'regular price' %>
      <%= text_field_tag :regular_price %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= label_tag :sale_price, 'sale price' %>
      <%= text_field_tag :sale_price %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= label_tag :employee_discount, 'employee discount' %>
      <%= select_tag :employee_discount, options_for_select([["Select One",""],['30%', '0.3'], ['40%', '0.4'], ['50%', '0.5']]) %>
    </div>
  </div>
  <!--<div class="form-group">-->
  <!--<%#= label_tag :emp_dis_on_sale_price, :class => "col-sm-2 control-label" %>-->
  <!--<div class="col-sm-10">-->
  <!--<%#= text_field_tag :emp_dis_on_sale_price, :class => "form-control" %>-->
  <!--</div>-->
  <!--</div>-->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag 'Submit', :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

