<div class="page-header">
  <%= link_to prices_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_price_path(@price), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show price</h1>
</div>

<dl class="dl-horizontal">
  <dt>Regular price:</dt>
  <dd><%= @price.regular_price %></dd>

  <dt>Sale price:</dt>
  <dd><%= @price.sale_price %></dd>

  <dt>Employee discount:</dt>
  <dd><%= @price.employee_discount %></dd>

  <dt>Emp dis on sale price:</dt>
  <dd><%= @price.emp_dis_on_sale_price %></dd>

</dl>
